{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock  %}

{% block 'body' %}

    <div style="text-align: center" class="container">
        <br>
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for img in imagens %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}" >
                        <img class="d-block w-100" src="{{img}}" alt="First slide">
                    </div>
                {% endfor %}
                
            </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


        <div class="row">
            <div class="col-md">
                <h3 class="titulo_especificacao">Valor</h3>
                <p class="especificacao">R$ {{veiculo.valor}}</p>

            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">km Rodados</h3>
                <p class="especificacao">{{veiculo.kmRodados}} km</p>
            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">Ano</h3>
                <p class="especificacao">{{veiculo.ano}}</p>
            </div>
        </div>
        <br>
        <br>

        <div style="text-align: left">
            <h3 class="titulo_especificacao">Endereço</h3>
            <p class="especificacao_endereco">{{veiculo.rua}}, {{veiculo.cidade }}</p>
        </div>
        <br>

        <div style="text-align: left">
            <h3 class="titulo_especificacao">Telefone do proprietário</h3>
            <p class="especificacao_endereco">{{veiculo.telefone}}</p>
        </div>      
        <br>

        <div style="text-align: left">
            <h3 class="titulo_especificacao">Descricao</h3>
            <p class="especificacao_endereco">{{veiculo.descricao}}</p>
        </div>

        <hr style="border: 1px solid black">
        <br>
        <div class="div_possivel_interesse">
            <h3 class="titulo_especificacao">Talvez você se interesse por</h3>
            
            <div class="row">
                {% for sugestao in sugestoes %}
                    <div class="col-md cont">
                        <div class="card_imovel">
                            <img class="img_capa_imovel" src="{{sugestao.imagem1.url}}">
                            <div class="informacoes_imoveis">
                                <a class="a_none" href="{% url 'veiculo' veiculo.id %}"><h4 class="valor">R$ {{veiculo.valor}}</h4></a>
                                {% if veiculo.tipo_combustivel  == 'G' %}
                                <strong>
                                  <p>Gasolina</p>
                                </strong>
                                {% endif %}
              
                                {% if veiculo.tipo_combustivel  == 'A' %}
                                <strong>
                                  <p>Alcool</p>
                                </strong>
                                <strong>{% endif %}</strong>
              
                                {% if veiculo.tipo_combustivel  == 'D' %}
                                <strong>
                                  <p>Diesel</p>
                                </strong>
                                {% endif %}
              
                                {% if veiculo.tipo_combustivel  == 'E' %}
                                <strong>
                                  <p>Elétrico</p>
                                </strong>
                                {% endif %}
              
                                {% if veiculo.tipo_combustivel  == 'F' %}
                                <strong>
                                  <p>Flex</p>
                                </strong>
                                {% endif %}
              
                                <strong>{{veiculo.rua}} <br> {{veiculo.bairro}} <br>{{veiculo.cidade}}</strong>
                                <br>
                                <p><strong>Modelo:</strong> {{veiculo.modelo}} <br>
                                  <strong>Ano: </strong>{{veiculo.ano}}</p>
                              </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            
            
        </div>
        

        
        

    </div>
    

{% endblock  %}